{% extends "base.html" %}

{% block page_title %}
Home
{% endblock page_title %}

{% block content %}
<div class="container mx-auto pb-10">
    <div class="rounded-xl bg-gray-200 pb-10 h-50vh mt-32 mb-20" style="background-image: url()  ;">
    </div>
    <div class="flex flex-wrap ">
        {% for room in rooms %}
        {% include 'mixins/room_card.html' with room=room %}
        {% endfor %}
    </div>

    <div class="flex items-center justify-center mx-auto container">
        {% if page_obj.has_previous %}
        <a class="text-teal-400" href="?page={{page_obj.previous_page_number}}">
            <i class="fas fa-arrow-left  fa-lg"></i>
        </a>
        {% endif %}

        <span class="mx-3 font-medium text-lg">{{page_obj.number}} of {{page_obj.paginator.num_pages }}</span>

        {% if page_obj.has_next %}
        <a class="text-teal-400 href=" ?page={{page_obj.next_page_number}}">
            <i class="fas fa-arrow-right fa-lg"></i>
        </a>
        {% endif %}

    </div>
</div>
{% endblock content %}